header
	background-color black
	width 100%
	top 0
	height auto
	.header-limit
		width 100%
		display flex
		justify-content space-between
		align-items center
		.header-ham
			display inline-block
			padding 10px
			padding-left 15px
			.header-ham-span
				height 2px
				width 17px
				display block
				background $color
				margin 5px auto
		.header-logo
			display inline-block
			width 60px
			height auto
			padding 10px 0
		.header-login
			display inline-block
			width 40px
			height 40px
			color $color
			font-size 26px
			span
				display inline-block
				padding 7px
		
		