
// Colors
$color               = #283593
$color_2             = #ffeb3b
$cyan                = #4184F3
$black               = #1D1D1B
$dark                = #37474f
$gray                = #607d8b
$light               = #f6f7f8
$white               = #ffffff
$shadow              = #D6D7D7
$red                 = #fe4f20

$lightblue          = #A7BCD6
$darkblue           = #081c34
$lightgray          = #EEEEEE

// Header
$header-height      = 70px
$header-height-md   = 140px

// Global
$global-bg          = $white
$global-color       = $dark
$global-size        = 15px
$global-size-sm     = 14px
$global-size-xs     = 13px
$global-size-xxs    = 12px
$global-size-md     = 18px
$global-lh          = 22px
$global-lh-sm       = 18px
$global-sep         = 20px

$line-height        = 20px

// Layout
sep                 = 20px
$limit              = 1260px

// Fonts
$font               = 'Roboto', arial, sans-serif

// CSS vars
$shadow             = 0px 1px 2px 1px rgba(0,0,0,.12)
$shadow2            = 0px 4px 20px 1px rgba(0,0,0,.15)
border              = 1px solid $light
$rad                = 2px
tn                  = .2s ease


// Titles 

$title_base          = 18px
$title_aument        = 6px
$title_lineheight    = 1.1

// Proportional titles

$title_h1            = $title_base + ($title_aument*5)
$title_h2            = $title_base + ($title_aument*3)
$title_h3            = $title_base + ($title_aument*1)
$title_h4            = $title_base + ($title_aument*0)
$title_h5            = $title_base - ceil($title_aument*.5)

$title_h1_lh         = ceil( $title_h1 * $title_lineheight )
$title_h2_lh         = ceil( $title_h2 * $title_lineheight )
$title_h3_lh         = ceil( $title_h3 * $title_lineheight )
$title_h4_lh         = ceil( $title_h4 * $title_lineheight )
$title_h5_lh         = ceil( $title_h5 * $title_lineheight )


// Buttons

$button_padding      = 6px 20px
$button_padding_a    = 2px 10px
$button_size         = global_size - 3
$button_lineheight   = global_lh
$button_radius       = rad_2
$button_radius       = 40px
$button_uppercase    = true
$button_letterspacing= 2px



// Bootstrap grid vars

$break              = 240px

$screen-sm          = $break * 2
$screen-md          = $break * 3
$screen-lg          = $break * 4

$break-sm           = "(min-width $screen-sm-min)"
$break-md           = "(min-width $screen-md-min)"
$break-lg           = "(min-width $screen-lg-min)"
$break-limit        = "(min-width " + limit + ")"

$grid-gutter-width  = sep

$bower-path         = "../../bower_components"

// Extras

$g-pad				= 20px // Global padding



// Default cubic bezier
cb                  = cubic-bezier(0.77, 0, 0.175, 1)

