extends ../template.jade
block page
	section.section-slider
		
		.carousel

			.carousel-bgs
				.carousel-bg: .bg: img(src="img/backgrounds/1.jpg")
				.carousel-bg: .bg: img(src="img/backgrounds/2.jpg")
				.carousel-bg: .bg: img(src="img/backgrounds/3.jpg")
				.carousel-bg: .bg: img(src="img/backgrounds/4.jpg")

			.carousel-grad

			.section-limit

				.section-slider_slides
					.carousel-contents
						.carousel-content
							+articleSlide(1,"Bomba centrifuga sanitaria")
						.carousel-content
							+articleSlide(2,"Bomba de superficie")
						.carousel-content
							+articleSlide(3,"Bomba centrifuga sanitaria")
						.carousel-content
							+articleSlide(4,"Motor sumergible")

				.section-slider__thumbs
					.carousel-thumbnails
						.cols.cols-gutterx0
							.col-md-3.col-lg-3.carousel-thumbnail
								+articleSlideThumb(1,"Bomba centrifuga sanitaria")
							.col-md-3.col-lg-3.carousel-thumbnail
								+articleSlideThumb(2,"Bomba de superficie")
							.col-md-3.col-lg-3.carousel-thumbnail
								+articleSlideThumb(3,"Bomba centrifuga sanitaria")
							.col-md-3.col-lg-3.carousel-thumbnail
								+articleSlideThumb(4,"Motor sumergible")
	
	section.section-games
		.section-limit
			a.section-link.fa Juegos
			.section-games-list
				.section-games-list-title
				article.article-games
					.article-games-img
						img
					.article-games-body
						.article-bottom
						.article-link.fa		
						
