header
	.header-limit

		.header-ham
			span.header-ham-span
			span.header-ham-span
			span.header-ham-span

		.header-logo
			a(href="home.html")
				img(src="img/logo.png")

		.header-login
			span.fa.fa-user-o
				
				
